html, body {
  margin: 0;
  padding: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline;
}

a {
	color: #444;
	text-decoration: none;
	font-family: arial, sans-serif;
	font-size: 16px;
}

li {
	display: inline;
	margin: 10px;
	width: 60px;
}

#navbar
{
	display: block;
	padding-top: 16px;
}

#navbar ul {
	float: right;
}

#navbar button {
	background-color: #0000ff;
	width: 100px;
	height: 28px;
	color: #fff;
  border: none;
  box-shadow: none;
}

#navbar button:hover {
  background: #0000dd;
}

#main_feature {
	margin-top: 100px;
	display: block;
	text-align: center;
}

#main_feature img {
	width: 292px;
	margin: auto;
}

#main_feature input {
	height: 26px;
	width: 525px;
}

#main_feature button {
	margin-top: 25px;
	background-color: #f2f2f2;
	width: 150px;
	height: 28px;
  border: none;
  box-shadow: none;
}

#main_feature button:hover {
  border: 1px solid #ddd;
}

#footer {
	position: absolute;
	bottom: 0;
	line-height: 40px;
	width: 100%;
	background-color: #f2f2f2;
	border-top: 1px solid #ddd;
	display: block;
}

#footer ul:nth-child(2) {
	float: right;
}